<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>life
death
lamentation
resurrection</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>spring
2010</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>in that conversation
i told him that there
needed to be an equivalent
creative coding framework,
like processing and of
but built in objective-c…</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>i called it
cocoa for 
artists</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>fall
2010</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>objc - osx
processing</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>spring 
2011</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>layers
timers
less drawing</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>fall
2011</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>programming
for artists</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>spring 
2012</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>a guy walks into the bar 
wearing shorts a tshirt and 
a cowboy hat, the low temp
for the day was minus 17,
he pulls an iphone out
of his pocket</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>kyle looks back at me and 
says: “even that guy
has an iphone.”</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>objc : ios</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>fall 
2012</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>launch 
30 tutorials
215 examples</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>&gt; submitted on: 18/09/2012
&gt; via: http://www.creative
applications.net/
submit-project/
&gt; by 68.146.216.10
(visitor ip)</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>longshot, but...
got a ton of 
traffic</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>c4 was 
finally 
alive</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>2013</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>fabrica
tei
nyu / itp
sap demos</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>2014</string>
		<key>filename</key>
		<string>halo
vancocoa
resonate</string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>activity had been slowing
down, the future of the
project was unclear to 
me, i thought about just
letting is slide out of
existence</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>joreg</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>“i&apos;ve been doing 
this for 14 years,
don&apos;t give up”</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>filip</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>“focus on giving
c4 to design
firms”</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>alejandro</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>unit tests
readme
license headers
comments</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>started to change
things, but
then it...</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>died</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>lamentation</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>reflect
wonder
worry</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>we tied off the 
objective-c 
version and 
moved to swift</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>nsstring *str = @&quot;hello,&quot;;
str = [str stringbyappend
ingstring:@&quot; world&quot;];</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>var str = &quot;so much,&quot;
str += &quot;rewriting&quot;</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>june 2, 2014 beta
september 9, 2014 v1.0
october 22, 2014 v1.1
april 8, 2015 v1.2
september 21, 2015 v2.0
march 21, 2016 v2.2 
											&lt;&lt; open source</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>most loved
stackoverflow
1st 2015
2nd 2016</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>google
considering
1st class language
for android</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>tk
568 commits / 
68,816 ++ / 
53,316 --</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>aj
118 commits /
67,561 ++ /
87,683 --</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>20 months</string>
		<key>filename</key>
		<string>s: 26,890
u: 14,075
v: 107,191</string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>19 months</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>s: 6,082 (22%)
u: 4,347 (30%)
v: 19,680 (18%)</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>sat nov 21, 2015</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>s: 0
u: 0
v: 0</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>4 days later</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>resurrection</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>api
site
cosmos
app store</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>5 months</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>s: 18,831
u: 13,746
v: 34,214</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>s: 456%
u: 596%
v: 215%</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>CAN tutorial
7 walkthroughs
new new site</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>wmfp</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>res16</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>being in an uneasy 
place is an okay 
place to be 
at home - noble</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>we cannot always
sacrifice abstrac
tion for perfor
mance - schmidt</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>design and create things 
that are meaningful so 
that you can understand 
them again later - 
schmidt </string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>LongText</string>
		<key>text</key>
		<string>vehicles for education 
that encourage everyone 
to make, play, code
and invent 
- koby</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>workshop attendees
who kicked my ass
with tough quest
ions and...</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>had insatiable 
motivations to 
learn, push, and 
invent</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>my response</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>obligation to keep
running</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>to keep producing
new content</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>to constantly 
experiment</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>ShortText</string>
		<key>text</key>
		<string>build things that
inspire</string>
		<key>filename</key>
		<string></string>
		<key>function</key>
		<string></string>
	</dict>
</array>
</plist>
